body{
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: left; */
  width: 500px;
  margin: auto auto;

}
.container{
  border: 1px solid gray;
}
#cabecera{
  background: #33a;
  color: white;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  -webkit-box-shadow: -2px 3px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 14px 0px rgba(0,0,0,0.75);
box-shadow: -2px 3px 14px 0px rgba(0,0,0,0.75);
margin: auto auto;

}

footer{
background: gray;
text-align: center;

}

.cuerpo{
  padding-left: 20px;
}
