body{
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: left; */
  width: 500px;
  margin: auto auto;
  /* border: 1px solid gray; */

}
.container{
  border: 1px solid black;
}

#cabecera{
  background: gray;
  color: white;
  /* margin: 0; */
  /* padding: 0.5em; */
  font-weight: bold;
  -webkit-box-shadow: -2px 3px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 14px 0px rgba(0,0,0,0.75);
box-shadow: -2px 3px 14px 0px rgba(0,0,0,0.75);
/* margin: auto auto; */
padding: 15px 20px;
font-size: 20px;
display: flex;
align-items: center;

}

footer{
background: gray;
text-align: center;

}

.cuerpo{
  padding-left: 20px;
}

#cabecera p{
  margin: 0;
}

#cabecera #logo {
  width: 25px;
  /* vertical-align: middle; */
  padding-right:10px;
}

/* .cuerpo img {
  width: auto;
} */