body{
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* text-align: left; */
}
div{
  width: 500px;
  border: 1px solid red;
  margin: auto auto;
}